.top-menu-lg {
  display: block;
}
.top-menu-md {
  display: none;
}
@media (max-width: 990px) {
  .top-menu-lg {
    display: none;
  }
  .top-menu-md {
    display: block;
  }
}
.lm-title {
  background: url('../assets/bg_login_title.png');
  font-weight: bold;
  border-bottom: 1px solid;
  border-left: 10px solid;
}
.lm-note::before {
  content: '※';
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: #ececec !important;
}
.list-style-none {
  list-style: none;
}
.table .thead-primary th {
  color: #fff;
  background-color: #007bff;
  border-color: #fff;
}
