.nav-tabs {
  border-bottom: 0;
}
.data-note {
  font-size: 14px;
}
.phone-note {
  font-size: 12px;
}
// .game-table-wrapper {
//   border-radius: 10px;
//   border: 1px solid #dee2e6;
// }
.game-note-bg {
  background: #ffecee;
}
.lp-note {
  font-size: 12px;
  margin-left: 3rem;
}
